Sphinx
sphinx-autobuild
sphinxcontrib-bibtex
sphinxcontrib-websupport
sphinx-notfound-page>=0.3.0
sphinx-gallery
pydata-sphinx-theme
sphinx-panels
numpy
git+git://github.com/pyvista/pyvista@master
pandas
matplotlib
pypistats
omfvista
PVGeo
gstools
netcdf4
rasterio
xarray
