Sphinx
sphinx-autobuild
sphinxcontrib-bibtex
sphinxcontrib-websupport
sphinx-notfound-page>=0.3.0
sphinx-gallery
pydata-sphinx-theme
sphinx-panels
numpy
pyvista
pandas
matplotlib
pypistats
omfvista
PVGeo
gstools
netcdf4
rasterio
xarray
rioxarray
tqdm
vtk
