Sphinx
sphinx-autobuild
sphinxcontrib-websupport
sphinx-notfound-page>=0.3.0
sphinx-gallery
doctr
sphinx_bootstrap_theme
numpy
git+git://github.com/pyvista/pyvista@master
pandas
matplotlib
omfvista>=0.2.2
