{# Import the theme's layout. #}
{% extends "!layout.html" %}


{% block extrahead %}

    {{ super() }}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ url }}/_static/profile-square.jpg">
    <meta name="twitter:title" content="{{ title|striptags|e }}">
    <meta name="twitter:description" content="Bane Sullivan">

    <meta property="og:title" content="{{ title|striptags|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:site_name" content="{{ title|striptags|e }}">
    <meta property="og:image" content="{{ url }}/_static/profile-square.jpg">
    <meta property="og:description" content="Bane Sullivan">

    <!-- Include Google Fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <!-- Google Analytics tracking code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
            Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-115959679-2', 'auto', {'storage': 'none'});
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
    </script>
{% endblock %}


{% block footer %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
            <p>
                &copy; Copyright {{ copyright }}.
            </p>
            <p>
                {% trans last_updated=last_updated|e %}
                    Last updated on {{ last_updated }}.
                {% endtrans %}
            </p>
            <p>
                <a href="https://travis-ci.org/banesullivan/mywebsite">Build Status</a>
            </p>

            </div>
        </div>
    </div>
</footer>

{% endblock %}

{%- block htmltitle %}
    {% if pagename == "index" %}
        <title>{{ title|striptags|e }}</title>
    {% else %}
        {{ super() }}
    {% endif %}
{%- endblock %}


{% block content %}
    {{ navBar() }}
    {% if pagename != "index" %}
    <div class="container">
    {% endif %}
        {{ body }}
    {% if pagename != "index" %}
    </div>
    {% endif %}
{% endblock %}
