gstools
matplotlib
netcdf4
numpy
omfvista>=0.3.0
pandas
pooch
PVGeo
pydata-sphinx-theme>=0.12.0
pypistats
pyvista
rasterio
rioxarray
Sphinx
sphinx-autobuild
sphinx-gallery
sphinx-notfound-page>=0.3.0
sphinx-panels
sphinxcontrib-bibtex
sphinxcontrib-websupport
tqdm
vtk
xarray
